<%#? Renderiza todos os posts do banco de dados  %>
<% @posts.each do |post| %>
    <%= render(post)%> <%#? app/views/posts/_post.html.erb %>
<% end %>

<hr>

<%#? Botão para criar novo post   %>
<div class="text-end">
    <%= link_to "criar novo post", new_post_path, class: 'btn btn-success' %>
</div>

